body {
    background-color: #181D27;

    font-family: monospace;
    font-size: 16px;
    font-weight: bold;
}

li a {
    color: #E46767;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}
