<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% load static %}
        <link rel="stylesheet" href="{% static 'todo_app/styles.css' %}"</link>
        <script defer src="{% static 'todo_app/script.js' %}"></script>

        <title>My tasks</title>
    </head>

    <body>
        <h1>Tasks</h1>
        {% for task in tasks %}
        <input type="checkbox">
        <button class="task-list"
            data-task-id="{{ task.task_id }}"
            data-task-name="{{ task.task_name }}"
            data-task-description="{{ task.description }}"
            data-task-due-date="{{ task.due_date }}">
            {{ task.task_name }}
        </button><br>
        {% endfor %}

        <dialog class="modal add-task-modal">
            <div class="modal-header">
                <h2> Add Task </h3>
                <button class="close-modal-btn">&times;</button>
            </div>
            <form method="POST" action="{% url 'add_task' %}">
                {% csrf_token %}
                <label for="title">Title</label>
                <input type="text" id="title" name="title" required>

                <label for="description">Description</label>
                <textarea id="description" name="description"></textarea>

                <label for="due-date">Due Date</label>
                <input type="date" id="due-date" name="due-date">

                <button class="save-task-btn" type="submit"> Save </button>
            </form>
        </dialog>

        <dialog class="modal edit-task-modal">
            <div class="modal-header">
                <h2> Add Task </h3>
                <button class="close-modal-btn">&times;</button>
            </div>
            <form id="edit-task-form" method="POST" action="#" data-add-task-url="{% url 'edit_task' %}" data-delete-task-url="{% url 'delete_task' %}">
                {% csrf_token %}
                <input type="hidden" id="task-id" name="task_id">
                <label for="title">Title</label>
                <input type="text" id="title" name="title" required>

                <label for="description">Description</label>
                <textarea id="description" name="description"></textarea>

                <label for="due-date">Due Date</label>
                <input type="date" id="due-date" name="due-date">

                <div class="form-btns">
                    <button class="save-task-btn" type="button" onclick="saveTask()">Save</button>
                    <button class="delete-task-btn" type="button" onclick="deleteTask()">Delete</button>
                </div>
            </form>
        </dialog>
        <button class="add-task-btn">&plus;</button>
    </body>
</html>

